[Desktop Entry]
Type=Application
Version=1.0
Name=Install FangOS
Comment=Install FangOS to your computer
Exec=pkexec calamares
Icon=fangos-installer
Terminal=false
Categories=System;
StartupNotify=true
